
body {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(to left, #f77f0e, #feddb2);
    background: linear-gradient(to left, #f77f0e, #feddb2);
}